<form
  [formGroup]="controller"
  class="">
  <ng-content select="[before]"></ng-content>

  <input
    type="number"
    class=""
    [autofocus]="autofocus"
    [formControlName]="fieldControlName"
    [id]="id"
    [name]="fieldControlName"
    [ngClass]="ngClass"
    [ngStyle]="ngStyle"
    [placeholder]="placeholder"
    [step]="step"
    [(value)]="value"
    (blur)="onBlur($event)"
    (change)="onChange($event)"
    (focus)="onFocus($event)"
    (input)="onInput($event)"
    (keyup)="onKeyup($event)"
    (search)="onSearch($event)"
    (click)="onClick($event)"
    (submit)="onSubmit($event)"
    (click)="onClick($event)"
    (dblclick)="onDoubleClick($event)"
    (mouseover)="onMouseOver($event)"
    (mouseout)="onMouseOut($event)"
    (mouseenter)="onMouseEnter($event)"
    (mouseleave)="onMouseLeave($event)" />

  <ng-content select="[after]"></ng-content>
</form>
