/*primary*/
$primary-input-border: #A7B6BE;
$primary-input-border-active: #00b11d;
$primary-input-close-icon: #365866;
$primary-input-disabled: #dbd9d2;
$primary-input-text: #495057;



$default-white: #fff;