/*legacy*/
/*text*/
$text-border-legacy: $legacy-border;
$text-border-active-legacy: $legacy-active;
$text-close-legacy: $legacy-input-icon;
$text-disabled-legacy: $legacy-disabled;
$text-legacy: $legacy-text;
$text-invalid-legacy: $legacy-danger;
