@mixin field-behavior {
  &:focus {
    border-color: $text-border-active-legacy;
    box-shadow: none;
    outline: none;
  }

  &:disabled {
    background-color: $text-disabled-legacy;
    opacity: 0.9;
  }
}