{
  "printWidth": 80,
  "tabWidth": 2,
  "semi": false,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "singleAttributePerLine": true,
  "arrayBracketSpacing": true,
  "arrayExpand": false,
  "arrayWrap": "always"
}
