@import "./src/styles.scss";

.field-textarea__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  textarea.field-common {
    min-height: 55.6px;

    // custom class example
    &.--half-width {
      width: 50%;
    }
  }
}