<div
  class="vrg-field-text"
  [ngClass]="customNgClassContainer"
  [formGroup]="formGroup">
  <vrg-label
    [customNgClass]="customNgClassLabel"
    [fieldName]="name"
    [text]="labelText"
    [isRequired]="required">
  </vrg-label>

  <input
    #inputField
    autocomplete="off"      
    type="text"
    [autofocus]="autofocus"
    [formControlName]="controlName"
    [id]="'field-text__' + id"
    [name]="controlName"
    [ngClass]="customNgClassInput"
    [placeholder]="placeholder"
    (blur)="onBlur($event)"
    (change)="onChange($event)"
    (focus)="onFocus($event)"
    (input)="onInput($event)"
    (keyup)="onKeyup($event)"
    (search)="onSearch($event)"
    (click)="onClick($event)"
    (submit)="onSubmit($event)"
    (click)="onClick($event)"
    (dblclick)="onDoubleClick($event)"
    (mouseover)="onMouseOver($event)"
    (mouseout)="onMouseOut($event)"
    (mouseenter)="onMouseEnter($event)"
    (mouseleave)="onMouseLeave($event)" />

  <span 
    *ngIf="!!error"
    class="field-validation-error">
    {{error.message}}
  </span>
</div>
