<div
  [formGroup]="formGroup"
  [ngClass]="classContainer"
  [ngStyle]="styleContainer"
  class="vrg-field-text">
  <vrg-label
    class="vrg-field-text__label"
    [fieldName]="name"
    [text]="labelText"
    [isRequired]="required"
    [ngClass]="classLabel"
    [ngStyle]="styleLabel">
  </vrg-label>

  <div class="vrg-field-text__content d-flex flex-column">
    <input
      #inputField
      autocomplete="off"      
      type="text"
      [autofocus]="autofocus"
      [formControlName]="controlName"
      [id]="'field-text__' + id"
      [name]="controlName"
      [ngStyle]="styleInput"
      [placeholder]="placeholder"
      (blur)="onBlur($event)"
      (change)="onChange($event)"
      (focus)="onFocus($event)"
      (input)="onInput($event)"
      (keyup)="onKeyup($event)"
      (search)="onSearch($event)"
      (click)="onClick($event)"
      (submit)="onSubmit($event)"
      (click)="onClick($event)"
      (dblclick)="onDoubleClick($event)"
      (mouseover)="onMouseOver($event)"
      (mouseout)="onMouseOut($event)"
      (mouseenter)="onMouseEnter($event)"
      (mouseleave)="onMouseLeave($event)" />

    <span
      *ngIf="isFilled && !disabled"
      class="vrg-field-text__content--clear"
      (click)="clearInput()">
      X
    </span>

    <span 
      *ngIf="!!error"
      class="field-validation-error">
      {{error.message}}
    </span>
  </div>
</div>
