@import "./src/styles.scss";

.field-text__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  input.field-common {

    // custom class example
    &.--half-width {
      width: 50%;
    }
  }
}
