<form [formGroup]="reactiveForm?.parentForm">
  <ng-container *ngFor="let field of reactiveForm.fieldProperties">
    <ng-container [ngSwitch]="field.type">
      <vrg-field-text
        *ngSwitchCase="'text'"
        [autofocus]="field.autofocus"
        [controlName]="field.controlName"
        [id]="field.id"
        [name]="field.controlName"
        [parentForm]="reactiveForm.parentForm"
        [placeholder]="field.placeholder">
        <label before>Nome</label>
      </vrg-field-text>

      <vrg-field-password
        *ngSwitchCase="'password'"
        [id]="field.id"
        [controlName]="field.controlName"
        [parentForm]="reactiveForm.parentForm"
        [placeholder]="'senha'">
        <label [for]="field.controlName" before>senha</label>
      </vrg-field-password>

      <vrg-field-number 
        *ngSwitchCase="'number'"
        [ngClass]="'vrg-field'"
        [ngStyle]="{}"
        [id]="field.id"
        [controlName]="field.controlName"
        [step]="field.step"
        [parentForm]="reactiveForm.parentForm">
        <label [for]="field.controlName" before>idade</label>
      </vrg-field-number>

      <vrg-field-phone 
        *ngSwitchCase="'tel'"
        [ngClass]="'vrg-field'"
        [ngStyle]="{}"
        [id]="field.id"
        [controlName]="field.controlName"
        [parentForm]="reactiveForm.parentForm"
        [placeholder]="field.placeholder">
        <label [for]="field.controlName" before>Celular</label>
      </vrg-field-phone>

      <vrg-field-textarea
        *ngSwitchCase="'textarea'"
        [autocomplete]="field.autocomplete"
        [cols]="field.cols"
        [controlName]="field.controlName"
        [id]="field.id"
        [parentForm]="reactiveForm.parentForm"
        [placeholder]="field.placeholder"
        [rows]="field.rows">
        <label [for]="field.controlName" before>Sobre mim</label>
      </vrg-field-textarea>
    </ng-container>
  </ng-container>
</form>
