<form [formGroup]="vrgForm.reactiveController">
  <ng-container *ngFor="let field of vrgForm.fields">
    <ng-container [ngSwitch]="field.type">
      <vrg-field-text
        *ngSwitchCase="fieldType.TEXT"
        [autofocus]="field.autofocus"
        [controlName]="field.controlName"
        [id]="field.id"
        [name]="field.controlName"
        [reactiveController]="vrgForm.reactiveController"
        [placeholder]="field.placeholder">
        <label before>Nome</label>
      </vrg-field-text>

      <vrg-field-password
        *ngSwitchCase="fieldType.PASSWORD"
        [id]="field.id"
        [controlName]="field.controlName"
        [reactiveController]="vrgForm.reactiveController"
        [placeholder]="'senha'">
        <label [for]="field.controlName" before>Senha</label>
      </vrg-field-password>

      <vrg-field-number 
        *ngSwitchCase="fieldType.NUMBER"
        [ngClass]="'vrg-field'"
        [ngStyle]="{}"
        [id]="field.id"
        [controlName]="field.controlName"
        [step]="field.step"
        [reactiveController]="vrgForm.reactiveController">
        <label [for]="field.controlName" before>Idade</label>
      </vrg-field-number>

      <vrg-field-phone 
        *ngSwitchCase="fieldType.TEL"
        [ngClass]="'vrg-field'"
        [ngStyle]="{}"
        [id]="field.id"
        [controlName]="field.controlName"
        [reactiveController]="vrgForm.reactiveController"
        [placeholder]="field.placeholder">
        <label [for]="field.controlName" before>Celular</label>
      </vrg-field-phone>

      <vrg-field-textarea
        *ngSwitchCase="fieldType.TEXTAREA"
        [autocomplete]="field.autocomplete"
        [cols]="field.cols"
        [controlName]="field.controlName"
        [id]="field.id"
        [reactiveController]="vrgForm.reactiveController"
        [placeholder]="field.placeholder"
        [rows]="field.rows">
        <label [for]="field.controlName" before>Sobre mim</label>
      </vrg-field-textarea>

      <vrg-field-email 
        *ngSwitchCase="fieldType.EMAIL"
        [ngClass]="'vrg-field'"
        [ngStyle]="{}"
        [id]="field.id"
        [controlName]="field.controlName"
        [reactiveController]="vrgForm.reactiveController"
        [placeholder]="field.placeholder">
        <label [for]="field.controlName" before>Email</label>
      </vrg-field-email>

      <vrg-field-radio
        *ngSwitchCase="fieldType.RADIO"
        [ngClass]=""
        [ngStyle]="{}"
        [id]="field.id"
        [options]="field.options"
        [controlName]="field.controlName"
        [reactiveController]="vrgForm.reactiveController"
        [placeholder]="field.placeholder">
        <label [for]="field.controlName" before>Está ficando bom?</label>
      </vrg-field-radio>
      
      <vrg-field-dropdown
        *ngSwitchCase="fieldType.DROPDOWN"
        [ngClass]=""
        [ngStyle]="{}"
        [id]="field.id"
        [options]="field.options"
        [controlName]="field.controlName"
        [reactiveController]="vrgForm.reactiveController"
        [placeholder]="field.placeholder">
        <label [for]="field.controlName" before>Qual sua nota para o novo form?</label>
      </vrg-field-dropdown>
    </ng-container>
  </ng-container>
</form>
