<form [formGroup]="vrgForm.formGroup">
  <ng-container *ngFor="let field of vrgForm.fields">
    <ng-container [ngSwitch]="field.type">
      <vrg-field-text
        *ngSwitchCase="fieldType.TEXT"
        [autofocus]="field.autofocus"
        [classInput]="classInput"
        [control]="field.control"
        [controlName]="field.controlName"
        [formGroup]="vrgForm.formGroup"
        [id]="field.id"
        [labelText]="field.labelText"
        [name]="field.controlName"
        [placeholder]="field.placeholder"
        [required]="field.required">
      </vrg-field-text>

      <!-- <vrg-field-password
        *ngSwitchCase="fieldType.PASSWORD"
        [id]="field.id"
        [fieldControlName]="field.fieldControlName"
        [controller]="vrgForm.controller"
        [placeholder]="'senha'">
        <label [for]="field.fieldControlName" before>Senha</label>
      </vrg-field-password>

      <vrg-field-number 
        *ngSwitchCase="fieldType.NUMBER"
        [ngClass]="'vrg-field'"
        [ngStyle]="{}"
        [id]="field.id"
        [fieldControlName]="field.fieldControlName"
        [step]="field.step"
        [controller]="vrgForm.controller">
        <label [for]="field.fieldControlName" before>Idade</label>
      </vrg-field-number>

      <vrg-field-phone 
        *ngSwitchCase="fieldType.TEL"
        [ngClass]="'vrg-field'"
        [ngStyle]="{}"
        [id]="field.id"
        [fieldControlName]="field.fieldControlName"
        [controller]="vrgForm.controller"
        [placeholder]="field.placeholder">
        <label [for]="field.fieldControlName" before>Celular</label>
      </vrg-field-phone>

      <vrg-field-textarea
        *ngSwitchCase="fieldType.TEXTAREA"
        [autocomplete]="field.autocomplete"
        [cols]="field.cols"
        [fieldControlName]="field.fieldControlName"
        [id]="field.id"
        [controller]="vrgForm.controller"
        [placeholder]="field.placeholder"
        [rows]="field.rows">
        <label [for]="field.fieldControlName" before>Sobre mim</label>
      </vrg-field-textarea>

      <vrg-field-email 
        *ngSwitchCase="fieldType.EMAIL"
        [ngClass]="'vrg-field'"
        [ngStyle]="{}"
        [id]="field.id"
        [fieldControlName]="field.fieldControlName"
        [controller]="vrgForm.controller"
        [placeholder]="field.placeholder">
        <label [for]="field.fieldControlName" before>Email</label>
      </vrg-field-email>

      <vrg-field-radio
        *ngSwitchCase="fieldType.RADIO"
        [ngClass]=""
        [ngStyle]="{}"
        [id]="field.id"
        [options]="field.options"
        [fieldControlName]="field.fieldControlName"
        [controller]="vrgForm.controller"
        [placeholder]="field.placeholder">
        <label [for]="field.fieldControlName" before>Está ficando bom?</label>
      </vrg-field-radio>
      
      <vrg-field-dropdown
        *ngSwitchCase="fieldType.DROPDOWN"
        [ngClass]=""
        [ngStyle]="{}"
        [id]="field.id"
        [options]="field.options"
        [fieldControlName]="field.fieldControlName"
        [controller]="vrgForm.controller"
        [placeholder]="field.placeholder">
        <label [for]="field.fieldControlName" before>Qual sua nota para o novo form?</label>
      </vrg-field-dropdown> -->
    </ng-container>
  </ng-container>
</form>
