<div
  [formGroup]="parentForm"
  class="vrg-field-password__container">
  <ng-content select="[before]"></ng-content>

  <input
    class="vrg-field-password__container--field"
    [autofocus]="autofocus"
    [formControlName]="controlName"
    [id]="id"
    [name]="name"
    [ngClass]="ngClass"
    [ngStyle]="ngStyle"
    [placeholder]="placeholder"
    [type]="showPassword ? type.TEXT : type.PASSWORD"/>

    <span
      class="vrg-field-password__container--show-password"
      (click)="onShowPassword()">
      {{ passwordShowText }}
    </span>

    <ng-content select="[after]"></ng-content>
</div>
