/*VR - Default Theme*/

/* Colors */
$primary-green: #00b11d;
$primary-red: #ca3325;
$primary-white: #fff;
$neutral-white: #f5f5f5;

$light-gray: #A7B6BE; 
$light-gray-disabled: #dbd9d2;
$medium-gray: #365866;

$dark-blue: #365866;
$deep-blue: #123442;

/*Field-Text*/
$field-border: $light-gray;
$field-border-active: $primary-green;
$field-disabled: $light-gray-disabled;
$field-invalid: $primary-red;
$field-label: $deep-blue;
$field-text: $medium-gray;