/*VR - Default Theme*/

/* Colors */
$green-main: #00b11d;
$red-main: #ca3325;
$charcoal-main: #495057;
$white-main: #fff;

$light-gray: #A7B6BE; 
$light-gray-disabled: #dbd9d2;

$dark-blue: #365866;
$deep-blue: #123442;

/*Field-Text*/
$field-border: $light-gray;
$field-border-active: $green-main;
$field-disabled: $light-gray-disabled;
$field-invalid: $red-main;
$field-label: $deep-blue;
$field-text: $charcoal-main;