html,
body {
  margin: 0px;
  position: relative;
  font-family: "Open Sans" !important;
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif, "Roboto";
}