<form
  [formGroup]="controller"
  class="">
  <ng-content select="[before]"></ng-content>

  <div *ngFor="let option of options">
    <label>
      <input
        type="radio"
        class=""
        [ngClass]="ngClass"
        [ngStyle]="ngStyle"
        [formControlName]="fieldControlName"
        [id]="id"
        [name]="fieldControlName"
        [value]="option.value"
        (blur)="onBlur($event)"
        (change)="onChange($event)"
        (focus)="onFocus($event)"
        (input)="onInput($event)"
        (keyup)="onKeyup($event)"
        (search)="onSearch($event)"
        (click)="onClick($event)"
        (submit)="onSubmit($event)"
        (click)="onClick($event)"
        (dblclick)="onDoubleClick($event)"
        (mouseover)="onMouseOver($event)"
        (mouseout)="onMouseOut($event)"
        (mouseenter)="onMouseEnter($event)"
        (mouseleave)="onMouseLeave($event)" />
      {{ option.label }}
    </label>
  </div>

  <ng-content select="[after]"></ng-content>
</form>
