<div class="field-email"
  [ngClass]="ngClassContainer"
  [formGroup]="formGroup">
  <vrg-label
    [customNgClass]="ngClassLabel"
    [fieldName]="name"
    [text]="labelText"
    [isRequired]="required">
  </vrg-label>
  
  <input
    autocomplete="off"
    class="field-common"     
    type="email"
    [autofocus]="autofocus"
    [formControlName]="controlName"
    [id]="'field-email__' + id"
    [name]="controlName"
    [class.--error]="!!error"
    [ngClass]="ngClassInput"
    [placeholder]="placeholder"
    (blur)="onBlur($event)"
    (change)="onChange($event)"
    (focus)="onFocus($event)"
    (input)="onInput($event)"
    (keyup)="onKeyup($event)"
    (search)="onSearch($event)"
    (click)="onClick($event)"
    (submit)="onSubmit($event)"
    (click)="onClick($event)"
    (dblclick)="onDoubleClick($event)"
    (mouseover)="onMouseOver($event)"
    (mouseout)="onMouseOut($event)"
    (mouseenter)="onMouseEnter($event)"
    (mouseleave)="onMouseLeave($event)" />

  <span 
    *ngIf="!!error"
    class="field-validation-error">
    {{error.message}}
  </span>
</div>